{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Barbacoa de res y molletes caseros, dos desayunos mexicanos que no puedes dejar
    de probar.">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@maldeadora" />
    <meta name="twitter:title" content="Barbacoa y otros desayunos deliciosos en México" />
    <meta name="twitter:description" content="Barbacoa de res y molletes caseros, dos desayunos mexicanos que no puedes dejar
    de probar." />
    <meta name="twitter:image" content="https://instagram.fbog2-2.fna.fbcdn.net/t51.2885-15/e35/15802017_315625005504460_3823155483447918592_n.jpg" />
    <meta name="twitter:url" content="http://maldeadora.com" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="365 desayunos" />
    <meta property="og:title" content="Barbacoa y otros desayunos deliciosos en México" />
    <meta property="og:description" content="Barbacoa de res y molletes caseros, dos desayunos mexicanos que no puedes dejar
    de probar." />
    <meta property="og:url" content="http://maldeadora.com" />
    <meta property="og:image" content="hhttps://instagram.fbog2-2.fna.fbcdn.net/t51.2885-15/e35/15802017_315625005504460_3823155483447918592_n.jpg" />
    <title>365 desayunos</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link rel="stylesheet" href='{% static "website/css/estilos.css" %}'/>
    <link rel="shortcut icon" type="image/x-icon" href='{% static "website/images/favicon.ico" %}'>
  </head>
  <body class="body">
	{% block content %}
	{% endblock %}
  </body>
</html>
